.welcome-text{
    margin: auto;
    text-align: center;
    font-size: xx-large;
    padding: 5rem;
}

.image{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  